body {
  background-color: var(--background-color);
  color: var(--c-white);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  overflow: hidden;
}
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 40px;
  }
}
@media screen and (min-width: 990px) {
  .container {
    max-width: 990px;
    padding: 0 48px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 172px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
    padding: 0 229px;
  }
}

:root {
  --background-color: #070e14;
  --accent-color: #fc3232;
  --c-white: #ffffff;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
  padding-bottom: 8px;
}
@media screen and (min-width: 375px) {
  .header-block {
    padding-top: 44px;
    padding-bottom: 13px;
  }
}
@media screen and (min-width: 768px) {
  .header-block {
    padding-top: 23px;
    padding-bottom: 23px;
  }
}

.logo__img {
  width: 56px;
  height: 50.522px;
}
@media screen and (min-width: 768px) {
  .logo__img {
    width: 64px;
    height: 57.7px;
  }
}
@media screen and (min-width: 990px) {
  .logo__img {
    width: 72px;
    height: 65px;
  }
}
@media screen and (min-width: 1920px) {
  .logo__img {
    width: 96px;
    height: 86px;
  }
}

.socials {
  display: none;
}
@media screen and (min-width: 768px) {
  .socials {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .header__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
  }
}
@media screen and (min-width: 1920px) {
  .header__btns {
    gap: 32px;
  }
}

.header__button {
  background-color: transparent;
  color: var(--c-white);
  text-align: center;
  font-weight: 500;
  line-height: 140%;
}
.header__button-signup {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__button-signup {
    display: block;
    border: none;
  }
}
.header__button-signin {
  border: 2px solid var(--c-white);
  border-radius: 5px;
  padding: 9px 24px;
}

.btn-accent {
  background-color: var(--accent-color);
  outline: none;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  color: var(--c-white);
  padding: 14px 12px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.4;
  overflow-wrap: normal;
}

.description {
  text-align: center;
  font-size: 15px;
  line-height: 140%;
  opacity: 0.8;
}
@media screen and (min-width: 375px) {
  .description {
    font-size: 16px;
  }
}

.hero {
  padding: 16px 0;
}
@media screen and (min-width: 375px) {
  .hero {
    padding: 24px 0;
  }
}

.hero__title {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
}
@media screen and (min-width: 375px) {
  .hero__title {
    font-size: 28px;
  }
}

.hero__description {
  margin-bottom: 24px;
  margin-top: 16px;
}
@media screen and (min-width: 375px) {
  .hero__description {
    margin-top: 13px;
    margin-bottom: 24px;
  }
}

.description {
  text-align: center;
  font-size: 15px;
  line-height: 140%;
  opacity: 0.8;
}
@media screen and (min-width: 375px) {
  .description {
    font-size: 16px;
  }
}

.pricing-block {
  border: 2px solid var(--accent-color);
  padding: 18px 16px 32px;
}

.pricing__title {
  text-align: center;
  line-height: 16px;
  text-transform: uppercase;
}
.pricing__price {
  color: #ff1f1f;
  font-size: 67px;
  font-weight: 600;
  line-height: 67px;
}
.pricing__description {
  margin-bottom: 24px;
}
.pricing__condition {
  margin-bottom: 32px;
}
.pricing__input {
  width: 256px;
  border-radius: 5px;
  border: 1px solid #d0d0d1;
  opacity: 0.9;
  background: var(--c-white);
  padding: 15px 16px;
  margin-bottom: 16px;
}
.pricing__input::-webkit-input-placeholder {
  color: rgba(60, 60, 67, 0.6);
  font-size: 15px;
  line-height: 1.5333px;
  letter-spacing: 0.15px;
  text-align: left;
}
.pricing__input::-moz-placeholder {
  color: rgba(60, 60, 67, 0.6);
  font-size: 15px;
  line-height: 1.5333px;
  letter-spacing: 0.15px;
  text-align: left;
}
.pricing__input:-ms-input-placeholder {
  color: rgba(60, 60, 67, 0.6);
  font-size: 15px;
  line-height: 1.5333px;
  letter-spacing: 0.15px;
  text-align: left;
}
.pricing__input::-ms-input-placeholder {
  color: rgba(60, 60, 67, 0.6);
  font-size: 15px;
  line-height: 1.5333px;
  letter-spacing: 0.15px;
  text-align: left;
}
.pricing__input::placeholder {
  color: rgba(60, 60, 67, 0.6);
  font-size: 15px;
  line-height: 1.5333px;
  letter-spacing: 0.15px;
  text-align: left;
}
.pricing__button {
  padding: 16px 32px;
  line-height: normal;
  width: 100%;
}

.eye {
  width: 40px;
  height: 50px;
}

.channel-block {
  padding-top: 57px;
  padding-bottom: 18px;
}
.channel-block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.channel__title {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  opacity: 0.9;
}
.channel__description {
  margin-top: 8px;
  margin-bottom: 24px;
}
.channel-ticket {
  width: 40px;
  height: 40px;
}
.channel__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
}
.channel__type-acbtn {
  border: 2px solid var(--accent-color);
}
.channel__type-btn {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.8);
}
.channel__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15.5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 18px;
}
.channel__item {
  padding: 11px;
  border-radius: 5px;
  border: 1px solid #c6c6c8;
}
.channel__item-oneplusone {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff6961), to(#d70015));
  background: linear-gradient(180deg, #ff6961 0%, #d70015 100%);
}
.channel__item-zoom {
  background: -webkit-gradient(linear, left top, left bottom, from(#409cff), to(#0040dd));
  background: linear-gradient(180deg, #409cff 0%, #0040dd 100%);
}
.channel__item-ukraine {
  background: -webkit-gradient(linear, left top, left bottom, from(#30db5b), to(#248a3d));
  background: linear-gradient(180deg, #30db5b 0%, #248a3d 100%);
}
.channel__item-inter {
  background: -webkit-gradient(linear, left top, left bottom, from(#409cff), to(#0040dd));
  background: linear-gradient(180deg, #409cff 0%, #0040dd 100%);
}
.channel__item-novyi {
  background: -webkit-gradient(linear, left top, left bottom, from(#30db5b), to(#248a3d));
  background: linear-gradient(180deg, #30db5b 0%, #248a3d 100%);
}
.channel__item-ictv {
  background: -webkit-gradient(linear, left top, left bottom, from(#7d7aff), to(#3634a3));
  background: linear-gradient(180deg, #7d7aff 0%, #3634a3 100%);
}

.oneplusone {
  width: 62px;
  height: 35px;
}

.zoom {
  width: 62px;
  height: 35px;
}

.ukraine {
  width: 62px;
  height: 35px;
}

.inter {
  width: 62px;
  height: 35px;
}

.novyi {
  width: 62px;
  height: 35px;
}

.ictv {
  width: 62px;
  height: 35px;
}

.wrap-btnshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.btnshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  color: var(--c-white);
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
}

.arrow {
  width: 24px;
  height: 24px;
  margin-left: 4px;
}

.devices-block {
  padding-top: 16px;
  padding-bottom: 17px;
}

.devices__title {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  opacity: 0.9;
  margin-bottom: 16px;
}
.devices__description {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  opacity: 0.8;
  margin-bottom: 5px;
}
.devices__btn {
  margin-top: 39px;
}
.devices__types {
  margin-top: 34px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.samsung {
  margin-right: 32px;
  margin-left: 42px;
}

.android {
  margin-top: 24px;
  margin-right: 24px;
  margin-left: 10px;
}

.lg {
  margin-top: 24px;
}

.question-block {
  padding-top: 16px;
}

.question__title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
}

summary {
  padding: 24px 0 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
summary::marker {
  display: none;
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details summary {
  cursor: pointer;
  position: relative;
  padding-right: 60px;
}

details summary::before {
  content: url("../../images/down.svg");
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 16px;
}

.footer {
  padding-top: 48px;
  padding-bottom: 14px;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.footer__info-item {
  text-decoration: none;
  color: var(--c-white);
  opacity: 0.8;
  font-size: 14px;
  line-height: 1.4;
}
.footer__title-help {
  font-weight: 600;
  line-height: 1.4;
  margin-top: 32px;
  margin-bottom: 18px;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.footer__contact {
  text-decoration: none;
  color: var(--c-white);
  opacity: 0.8;
  font-size: 14px;
  line-height: 1.4;
}
.footer__support-title {
  font-size: 14px;
  line-height: 1.4;
  opacity: 0.8;
  margin-top: 16px;
  margin-bottom: 8px;
}
.footer__company {
  font-size: 11px;
  line-height: 1.4;
  text-align: center;
}
.footer__company-up {
  text-transform: uppercase;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}

.social__img {
  width: 32px;
  height: 32px;
}

.payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 32px;
}/*# sourceMappingURL=main.css.map */