.btn-accent {
  background-color: var(--accent-color);
  outline: none;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  color: var(--c-white);
  padding: 14px 12px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.4;
  overflow-wrap: normal;
}
