.channel-block {
  padding-top: 57px;
  padding-bottom: 18px;
}
.channel {
  &__title {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    opacity: 0.9;
    @media screen and (min-width: 375px) {
      font-size: 28px;
    }
    @media screen and (min-width: 768px) {
      font-size: 32px;
      text-align: left;
    }
    @media screen and (min-width: 990px) {
      font-size: 38px;
    }
    &::after {
      content: url("../../images/tickets.svg"); // ::before and ::after both require content
      position: relative;
      z-index: 10;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
    }
  }
  &__description {
    margin-top: 8px;
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
      width: 510px;
      margin-top: 16px;
      margin-bottom: 32px;
    }
    @media screen and (min-width: 768px) {
      width: 660px;
    }
  }
  &-ticket {
    width: 40px;
    height: 40px;
  }
  &__type {
    display: flex;
    gap: 8px;
    margin-bottom: 40px;
    &-acbtn {
      border: 2px solid var(--accent-color);
      @media screen and (min-width: 1440px) {
        font-size: 16px;
        border: 1px solid var(--accent-color);
      }
    }
    &-btn {
      background-color: transparent;
      border-radius: 5px;
      border: 2px solid rgba(255, 255, 255, 0.8);
      &:hover {
        border: 2px solid var(--accent-color);
        background-color: var(--accent-color);
      }
      @media screen and (min-width: 990px) {
        padding: 12px 18px;
      }
      @media screen and (min-width: 1440px) {
        font-size: 16px;
      }
    }
  }

  &__all {
    display: flex;
    gap: 15.5px;
    flex-wrap: wrap;
    margin-bottom: 18px;
    @media screen and (min-width: 1440px) {
      gap: 31px 47px;
    }
  }
  &__item {
    padding: 11px;
    border-radius: 5px;
    border: 1px solid #c6c6c8;
    @media screen and (min-width: 375px) {
      padding: 14px;
    }
    @media screen and (min-width: 768px) {
      padding: 21px;
    }
    @media screen and (min-width: 1440px) {
      padding: 24px;
    }
    &-tablet {
      display: none;
      @media screen and (min-width: 768px) {
        display: block;
      }
    }
    &-desktop {
      display: none;
      @media screen and (min-width: 990px) {
        display: block;
      }
    }

    &-oneplusone {
      background: linear-gradient(180deg, #ff6961 0%, #d70015 100%);
    }
    &-zoom {
      background: linear-gradient(180deg, #409cff 0%, #0040dd 100%);
    }
    &-ukraine {
      background: linear-gradient(180deg, #30db5b 0%, #248a3d 100%);
    }
    &-inter {
      background: linear-gradient(180deg, #409cff 0%, #0040dd 100%);
    }
    &-novyi {
      background: linear-gradient(180deg, #30db5b 0%, #248a3d 100%);
    }
    &-ictv {
      background: linear-gradient(180deg, #7d7aff 0%, #3634a3 100%);
    }
    &-film {
      background: linear-gradient(180deg, #7d7aff 0%, #3634a3 100%);
    }
    &-m {
      background: linear-gradient(180deg, #30db5b 0%, #248a3d 100%);
    }
    &-tet {
      background: linear-gradient(180deg, #ffd426 0%, #b25000 100%);
    }
    &-2plus2 {
      background: linear-gradient(180deg, #7d7aff 0%, #3634a3 100%);
    }
  }
}

.channel__img {
  width: 62px;
  height: 35px;
  @media screen and (min-width: 375px) {
    width: 74px;
    height: 42px;
  }
  @media screen and (min-width: 768px) {
    width: 112px;
    height: 63px;
  }
  @media screen and (min-width: 1440px) {
    width: 131.556px;
    height: 74px;
  }
}
// .oneplusone {
//   width: 62px;
//   height: 35px;
//   @media screen and (min-width: 375px) {
//     width: 74.667px;
//     height: 42px;
//   }
// }
// .zoom {
//   width: 62px;
//   height: 35px;
// }
// .ukraine {
//   width: 62px;
//   height: 35px;
// }
// .inter {
//   width: 62px;
//   height: 35px;
// }
// .novyi {
//   width: 62px;
//   height: 35px;
// }
// .ictv {
//   width: 62px;
//   height: 35px;
// }
.wrap-btnshow {
  display: flex;
  justify-content: flex-end;
}
.btnshow {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--c-white);
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
}
.arrow {
  width: 24px;
  height: 24px;
  margin-left: 4px;
}
