.description {
  text-align: center;
  font-size: 15px;
  line-height: 140%;
  opacity: 0.8;
  @media screen and (min-width: 375px) {
    font-size: 16px;
  }
  @media screen and (min-width: 768px) {
    text-align: left;
  }
  @media screen and (min-width: 990px) {
    font-size: 18px;
    width: 465px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 20px;
    width: 532px;
  }
}
